*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hey Comic';
    src: url(../fonts/heycomic.ttf) format('truetype');
}

@font-face{
    font-family: 'Comic Helvetic';
    src: url(../fonts/ComicHelvetic-Light.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family:'Mount Hills' ;
    src: url(../fonts/MountHills.ttf) format('truetype');
}

@font-face {
    font-family: 'Magic Retro';
    src: url(../fonts/MagicRetro.ttf) format('truetype');
}

@font-face {
    font-family: 'Brodies';
    src: url(../fonts/brodies.ttf) format('truetype');
}

body{
    background-color: #e8d4b9 ;
}


h1{
    font-family: 'Mount Hills';
}

h2, h3{
    font-family: 'Magic Retro';
}

p{
    font-family: 'Comic Helvetic';
    font-weight: lighter;

}

footer{
    padding: 1mm;
    background-color: #6f6f4b;
    padding-bottom: 5em;
    padding-left: 1mm;
    padding-top: .7em;
    color: #464646;
    font-family: 'Comic Helvetic';
}

footer img{
    width: 1em;
    height: 5em;
}

/* z-index heb ik gebruikt aangezien ik heeel soms op een pagina position:absolute 
heb gebruikt om icoontjes juist te plaatsen op een speelse manier. Ze-index zorgt ervoor dat
ze die icoontjes niet mijn nav overlappen wat ze in eerste instantie wel deden.
Hier was vooral sprake van bij de tips & tricks pagina. Nu door de nav een hoger z-index value te geven,
heeft ie dus voorrang in overlapping. Chatgpt en MDN heeft me hierbij geholpen */


nav{
    background-color: #702d37;
    position: fixed;
    bottom: 0;
    overflow-x: auto;
    width: 100%;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    list-style-type: none;
    font-family: 'Hey Comic';
    border: .1em solid white;
}

nav li{
    margin: 0;
}

nav a{
    text-decoration: none;
    color: white;
    padding: .2em;
    margin: 0;
    border: .2em solid white;
    text-align: center;
    border-radius: .7em;
}

nav a:hover{
    background-color: white;
    color: #702d37;
}

a.button{
    transition: 0.2s;
}

a.button:active {
    transform: scale(0.8);
}

body.welkom{
    background-image: url("../Images/indexlayout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.tips{
    background-image: url("../Images/tipslayout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.wegwijzer{
    background-image: url("../Images/wegwijzerlayout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    display: inline-block;
    padding: .2em .8em;
    margin: .5em;
    background-color: #f2b13e;
    color: #464646;
    text-decoration: none;
    border-radius: 1em;
    font-weight: bold;
    font-family: 'Hey Comic';
    filter: drop-shadow(5px 5px 0px white );
}

/* Index pagina css code*/

.welkom header img{
    width: 8.5em;
    transform: rotate(0);
    position: absolute;
    top: 1em;
    left: .8em;
}

.welkom section:first-of-type img:first-of-type{
    width: 10em;
    height: 10em;
    margin: 1em;
    transform: rotate(-10deg);

}
.welkom section:first-of-type img:nth-of-type(2){
    width: 3em;
    margin: 2em;
    transform: rotate(10deg);
}

.welkom section:first-of-type p{
    color: #e8d4b9;
    background-color: #464646;
    padding: 1em;
    border-radius: 1em;
}
.welkom section:first-of-type h2{
    color: #464646;
}

.welkom section{
    color: white;
    text-align: center;
}

.welkom h1{
    display: flex;
    justify-content: end;
    color: white;
}

.ondertitel{
    display: flex;
    justify-content: end;
    color: #e8d4b9;
    font-size: medium;
}

section{
    margin: 0.5em;
}

.welkom header{
    background-color: #6f6f4b;
    border: 0.2em solid #464646;
    border-radius: 1em;
    margin: 0.5em;
    padding: .5em;
}

.welkom section:last-of-type{
    background-color: #464646;
    padding: 0.5em;
    border-radius: 1em;
    color: white;
    filter: drop-shadow(5px 5px 0px #6f6f4b );
    margin: 2em 1em 2em 1em;
}

.welkom section:nth-child(2) h2{
    background-color: #e8d4b9;
    padding: .5em;
    margin: .7em 0;
    border-radius: .7em;
    display: flex;
    justify-content: center;
    color: #464646;  
    filter: drop-shadow(5px 5px 0px #464646 );
}

.welkom section:nth-child(2) p:nth-of-type(2){
    padding-top: 1.3em;
}

.welkom section:nth-child(2) img{
    width: 10em;
    height: 10em;
    margin: auto;
    margin-top: 1.5em;
}

/* tips en tricks css code*/

.tips header img{
    width: 8em;
    position: absolute;
    top: .3em;
    left: 0.2em;
}

.tips h1{
    margin: .3em;
    filter: drop-shadow(3px 3px 0px white );
}

.tips section:first-of-type{
    margin: auto;
    font-size: small;
    max-width: 75% ;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    filter: drop-shadow(2px 2px 0px white );
}

.tips section img:first-of-type{
    width: 7em;
    position: absolute;
    top: 12em;
    left: 21.5em;
    z-index: 1;
}

.tips img:nth-of-type(2){
    width: 6em;
    height: 6em;
    position: absolute;
    top: 22em;
    right: 23em;
    z-index: 1;
}

.tips img:nth-of-type(3){
    width: 7em;
    height: 7em;
    position: absolute;
    top: 42em;
    left: 21em;
    z-index: 1;
}

.tips section{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em;
    color: white;
}

.tips section:last-of-type h2{
    filter: drop-shadow(3px 3px 0px #464646 );
}

.tips ol li{
    list-style-type: none;
}

.tips h1{
    display: flex;
    justify-content: end;
    color: #464646;
    margin-right: .7em;
}

.tips section ol li{
    color: black;
    border: #f2b13e solid .3em;
    padding: .5em;
    margin: .5em;
    border-radius: .8em;
}

/* wegwijzer css code */

.wegwijzer p:first-of-type{
    margin: .2em;
    text-align: center;
    color: white;
}

.wegwijzer img{
    width: 8em;
}

.wegwijzer h1{
    display: flex;
    color: #464646;
    font-size: xx-large;
    justify-content: center;
    margin: .3em;
    font-family: 'Magic Retro';
    filter: drop-shadow(2.5px 2.5px 0px white);
}

.wegwijzer section:first-of-type{
    text-align: center;
    color: white;
}

.wegwijzer section:first-of-type > h2{
    color: #f2b13e;
    filter: drop-shadow(2px 2px 0px #464646 );
}

.wegwijzer section:first-of-type img:first-of-type{
    margin: .5em;
    width: 17em;
    background-color: #464646;
    padding: .7em;
    border-radius: .5em;
}

.wegwijzer section:nth-child(3) p, h3 {
    text-align: left;
    color: white;
}

.wegwijzer section:nth-child(3){
    background-color: #464646;
    border-radius: .7em;
    margin: 0.8em .6em .8em .6em;
    padding: .5em;
    filter: drop-shadow(5px 5px 0px #e7bc71 );
}

.wegwijzer section:nth-child(4){
    background-color: #464646;
    border-radius: .7em;
    margin: 0.8em .6em .8em .6em;
    padding: .5em;
    filter: drop-shadow(5px 5px 0px #e7bc71 );
}

.wegwijzer section:nth-child(5) img{
    margin: auto;
    margin-top: .3em;
    width: 16em;
    background-color: #464646;
    padding: .4em;
    display: flex;
    justify-content: center;
}

.wegwijzer section:last-of-type p{
    color: black;
}

.wegwijzer section:last-of-type{
    text-align: center;
}
.wegwijzer section:first-of-type p:last-of-type{
    margin: .5em;
}

.wegwijzer footer p:last-of-type{
    text-align: left;
    color: #464646;
}

/* Meer locaties */

body.meer{
    background-image: url("../Images/meerlocaties.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.meer section{
    background-color: #464646;
    border-radius: .7em;
    padding: 1em;
    color: white;
    margin: 0.8em .6em .8em .6em;
    filter: drop-shadow(4px 5px 0px #e7bc71 );
}

.meer h1{
    margin: .5em;
    color: white;
    filter: drop-shadow(3px 3px 0px #464646 );
}

.meer section:last-of-type ul li{
    font-family: 'Comic Helvetic';
}

.meer section:last-of-type a{
    text-decoration: underline;
    color: #f2b13e;
}

.meer section:last-of-type{
    margin-bottom: 1em;
}

.meer header p{
    text-align: center;
    margin: .4em;
    color: #e8d4b9;
}

footer img{
   width: 40%;
   height: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
   margin-top: 2em;
}

