*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hey Comic';
    src: url(/fonts/heycomic.ttf);
}

@font-face{
    font-family: 'Comic Helvetic';
    src: url(/fonts/ComicHelvetic-Light.ttf), url(/fonts/ComicHelvetic-Medium.ttf), url(/fonts/ComicHelvetic-Heavy.ttf);
}

@font-face {
    font-family:'Mount Hills' ;
    src: url(/fonts/MountHills.ttf);
}

@font-face {
    font-family: 'Magic Retro';
    src: url(/fonts/MagicRetro.ttf);
}

@font-face {
    font-family: 'Brodies';
    src: url(/fonts/brodies.ttf);
}

body{
    background-color: #e8d4b9 ;
}


h1{
    font-family: 'Mount Hills';
}

h2, h3{
    font-family: 'Magic Retro';
}

p{
    font-family: 'Comic Helvetic';
    font-weight: lighter;

}

footer{
    padding: 1mm;
    background-color: #6f6f4b;
    padding-bottom: 5em;
    padding-left: 1mm;
    padding-top: .7em;
    color: #464646;
    font-family: 'Comic Helvetic';
}

footer img{
    width: 1em;
    height: 5em;
}

nav{
    background-color: #702d37;
    position: fixed;
    bottom: 0;
    overflow-x: auto;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    list-style-type: none;
    font-family: 'Hey Comic';
    border: .1em solid white;
}

nav li{
    margin: 0;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 4px;
    margin: 0;
    border: .2em solid white;
    text-align: center;
    border-radius: .7em;
}

nav a:hover{
    background-color: white;
    color: #702d37;
}

body.welkom{
    background-image: url("../Images/indexlayout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.tips{
    background-image: url("../Images/tipslayout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.wegwijzer{
    background-image: url("../Images/wegwijzerlayout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*
.button{
    padding: 0.3em 0 0.3em 0;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    border: 0.2em solid white;
    background-color: #f2b13e;
    text-decoration: none;
    font-family: 'Hey Comic';
    color: black;
    border-radius: 0.7em;
}
*/

.button {
    display: inline-block;
    padding: .2em .8em;
    margin: .5em;
    background-color: #f2b13e;
    color: #464646;
    text-decoration: none;
    border: .2em solid white;
    border-radius: .7em;
    font-weight: bold;
    font-family: 'Hey Comic';
}
/* Index pagina css code*/

.welkom img:first-of-type{
    width: 10em;
    height: 10em;
    margin: 1em;
    transform: rotate(-10deg);
}

.welkom img{
    width: 4em;
    margin: 1em 0 1em 3em;
    transform: rotate(10deg);
}

.welkom section:first-of-type{
    color: #464646;
}

.welkom section{
    color: white;
    text-align: center;
}

.welkom h1{
    display: flex;
    justify-content: center;
    color: white;
}

.ondertitel{
    display: flex;
    justify-content: center;
    color: #e8d4b9;
    font-size: medium;
}

section{
    margin: 0.5em;
}

.welkom header{
    background-color: #6f6f4b;
    border: 0.2em solid #464646;
    border-radius: 1em;
    margin: 0.5em;
}

.welkom section:last-of-type{
    background-color: #464646;
    padding: 0.5em;
    border-radius: 1em;
    color: white;
}

.duurzaam{
    background-color: #e8d4b9;
    padding: .5em;
    margin: .3em 0;
    border: .2em solid #464646;
    border-radius: .7em;
    display: flex;
    justify-content: center;
    color: #464646;
}

.welkom section:nth-child(2) img{
    width: 10em;
    height: 10em;
    margin: 1em 4em 1em 4em;
}

/* tips en tricks css code*/

.tips header img{
    width: 9em;
    position: absolute;
    top: .3em;
    left: 0;
    bottom: 0;
    margin-left: 0.2em;
}

.tips section:first-of-type{
    margin: 0.5em;
    font-size: small;
    max-width: 75% ;
    display: flex;
    justify-content: center;
    margin: 0 4em 0 4em;
    text-align: center;
    color: black;
}

.tips section img:first-of-type{
    width: 7em;
    position: absolute;
    top: 12.5em;
    left: 21.5em;
}

.tips img:nth-of-type(2){
    width: 5em;
    height: 5em;
    position: absolute;
    top: 20em;
    right: 24em;
}

.tips img:nth-of-type(3){
    width: 6em;
    height: 6em;
    position: absolute;
    top: 39.7em;
    left: 22.5em;
}

.tips section{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em;
    color: white;
}

.tips ul li{
    list-style-type: none;
}

.tips h1{
    display: flex;
    justify-content: end;
    color: #464646;
    margin-right: .7em;
}


/* wegwijzer css code */

.wegwijzer img{
    width: 8em;
}

.wegwijzer h1{
    display: flex;
    justify-content: center;
    margin: .3em;
    font-family: 'Magic Retro';
}

.wegwijzer p:first-of-type{
    text-align: center;
}

.wegwijzer section:first-of-type p{
    color: white;
}

.wegwijzer p:nth-child(1){
    color: white;
}

.wegwijzer section:first-of-type{
    text-align: center;
    color: black;
}

.wegwijzer section:first-of-type > h2{
    color: #f2b13e;
}

.wegwijzer section{
    color: white;
}

.wegwijzer section:last-of-type{
    text-align: center;
    color: black;
}

.wegwijzer section:nth-child(3){
    background-color: #464646;
    border-radius: .7em;
    margin: 0.5em;
    padding: .5em;
}

.wegwijzer section:nth-child(4){
    background-color: #464646;
    border-radius: .7em;
    margin: 0.5em;
    padding: .5em;
}

.wegwijzer section:first-of-type img:first-of-type{
    margin: .5em;
    width: 17em;
    background-color: #464646;
    padding: 1em;
    border-radius: .5em;
}

div{
    display: flex;
    flex-wrap: wrap;
}
/* Meer locatiea */

body.meer{
    background-image: url("../Images/meerlocaties.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.meer section{
    background-color: #464646;
    border-radius: .7em;
    padding: 1em;
    color: white;
}

.meer h1{
    margin: .5em;
    color: white;
}

.meer ul li{
    font-family: 'Comic Helvetic';
}

.meer section:last-of-type a{
    text-decoration: underline;
    color: #f2b13e;
}